ul.menu
  li
    a(class="btn btn-primary" href=`/${admin}/dashboard`) Tổng Quan

  if (myAccount.permissions.includes("accountView"))
    li
      a(class="btn btn-primary" href=`/${admin}/accounts`) Tài khoản

  if (myAccount.permissions.includes("roleView")) 
    li
      a(class="btn btn-primary" href=`/${admin}/roles`) Vai Trò
      
  if (myAccount.permissions.includes("roleView")) 
    li
      a(class="btn btn-primary" href=`/${admin}/permissions`) Phân Quyền